<div class="container-scroller">
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg" alt="logo" /></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg"
                    alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item d-none d-lg-block full-screen-link">
                    <a class="nav-link">
                        <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                    </a>
                </li>
                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-bell-outline"></i>
                    </a>
                </li>
                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-lock"></i>
                    </a>
                </li>
                <li class="nav-item nav-settings d-none d-lg-block">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-arrow-right-bold-box"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">               
                <li>
                    <span class="menu-title nav-link general">GENERAL</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="user-dashboard">
                        <span class="menu-title">Dashboard</span>
                        <i class="mdi mdi-television menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="user-profile">
                        <span class="menu-title">Profile</span>
                        <i class="mdi mdi-contacts menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="support">
                        <span class="menu-title">Support</span>
                        <i class="mdi mdi-worker menu-icon"></i>
                    </a>
                </li>               
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                        aria-controls="ui-basic">
                        <span class="menu-title">App List</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-account-circle menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="add-app">Add App</a></li>
                            <li class="nav-item"> <a class="nav-link" href="list">List</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row" id="proBanner">
                    <div class="col-12">
                        <span class="d-flex align-items-center purchase-popup">
                            <p style="font-weight: bolder;">Add App</p>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body table-responsive">
                                <h4 class="card-title">Configure App:</h4>
                                <form class="forms-sample"[formGroup]="addApp">
                                    <div class="form-group" style="padding-top:20px;">
                                        <label for="exampleInputUsername1">App Name:</label>
                                        <input type="text" class="form-control" formControlName="appname" placeholder="FUll Name"
                                        [ngClass]="{ 'is-invalid': addApp && f.appname.errors && !addApp.untouched}">
                                      <div *ngIf="addApp.touched && f.appname.errors" class="invalid-feedback"
                                        [hidden]="addApp.untouched">
                                        <div *ngIf="f.appname.errors.required">App Name is required</div>
                                      </div>
                                      </div>
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">App Package Name:</label>
                                        <input type="text" class="form-control" formControlName="apppackagename" placeholder="FUll Name"
                                        [ngClass]="{ 'is-invalid': addApp && f.apppackagename.errors && !addApp.untouched}">
                                      <div *ngIf="addApp.touched && f.apppackagename.errors" class="invalid-feedback"
                                        [hidden]="addApp.untouched">
                                        <div *ngIf="f.apppackagename.errors.required">App Package Name is required</div>
                                      </div>
                                      </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">App Type:</label>
                                        <form style="margin-left: 40px;;">
                                            <div class="form-group">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" value=""
                                                            checked>Android
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" value="">Ios
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" value="">Roku
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="form-group">
                                        <label>App Icon:</label>
                                        <input type="file" name="img[]" class="file-upload-default">
                                        <div class="input-group col-xs-12">
                                          <input type="text" disabled placeholder="Upload Image" class="form-control file-upload-info" formControlName="appicon" placeholder="Title"
                                          [ngClass]="{ 'is-invalid': addApp && f.appicon.errors && !addApp.untouched}">
                                        <div *ngIf="addApp.touched && f.appicon.errors" class="invalid-feedback"
                                          [hidden]="addApp.untouched">
                                          <div *ngIf="f.appicon.errors.required">App icon is required</div>
                                        </div>
                                          <span class="input-group-append">
                                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Browse..</button>
                                          </span>
                                        </div>
                                      </div>
                                    <div class="row">
                                        <div class="col-1 col-sm-1">
                                            <label type="text">
                                                Status:
                                            </label>
                                        </div>
                                        <div class="col-2 col-sm-4">
                                            <div class="form-check" style="padding-top:10px;">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    value="option1" checked>
                                                <label class="form-check-label">
                                                    Active
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-2 col-sm-4" style="padding-top:10px;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    value="option2">
                                                <label class="form-check-label">
                                                    Inactive
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                        <i class="mdi mdi mdi-camcorder-box icons"></i>
                        <i class="mdi mdi-twitter-box icons"></i>
                        <i class="mdi mdi-facebook-box icons"></i>
                        <i class="mdi mdi-instagram icons"></i>
                      </span>
                      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Epic Stream © 2020 All Rights
                        Reserved.</span>
                    </div>
                  </footer>
                <!-- partial -->
            </div>
        </div>
    </div>