<!-- <div class="h-100"> -->
    <div class="row full-row adjust-row-margin">
        <img src="assets/images/background/image3.jpg" width="110%" height="665px">
        <div class="row image-form full-row adjust-row-margin">
            <div class="col-sm">
            </div>
            <div class="col-12 col-sm-4">
                <form class="login-form"style="margin-left:0px">
                    <div style="margin-top: 170px;" class="margin">
                        <div style="text-align: center;">
                            <mat-icon class="icon">check_circle_outline</mat-icon>
                        </div>
                    </div>
                    <div class="row adjust-row-margin full-row">
                        <div class="col-1 col-sm-1"> </div>
                        <div class="col-10- col-sm-10"style="text-align:center;">
                            <h4>See you again !</h4>
                        </div>
                        <div class="col-1 col-sm-1"></div>
                        <div class="row adjust-row-margin full-row">
                            <div class="col-1 col-sm-1"></div>
                            <div class="col-10- col-sm-10"style="text-align:center;">
                                You are now successfully log out. Back to <a routerLink="/login"
                                    routerLinkActive="active"> Login in
                                </a>
                            </div>
                            <div class="col-1 col-sm-1"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
<!-- </div> -->
<!-- <div class="h-100" style="margin-bottom: 200px;">
    <img src="assets/images/background/image.jpg" width="100%" height="150%">
    <div class="form" style="text-align: center;">
        <div>
            <mat-icon class="icon">check_circle_outline</mat-icon>
        </div>
        <h1 class="margin">See you Again !</h1>

        <div style="margin-top: 20px; margin-left: 5px;">

            <nav> You are now successfully log out. Back to <a routerLink="/login" routerLinkActive="active"> Login in
                </a>
            </nav>

        </div>
    </div>
    </div> -->