.icons{
    margin-right: 10px;
  }
  .general{
    font-weight: bolder;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .icon1{
    margin-left: 180px;
    font-size: 100px;
    color: firebrick;
}
.toastr{
    margin-left: 35px;
    padding-top: 20px;
}
.artist{
  /* position: absolute; */
 width: 300px;
 height: 200px;
 left: 295px;
 top: 312px;

 background: #FFFFFF;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 5px 5px 0px 0px;

}
  .custom-tab-1 .nav {
    border: 0; }
  
  .custom-tab-1 .nav-link {
    font-size: 14px;
    font-weight: 600;
    border: 0;
    color: black; }
    .custom-tab-1 .nav-link:hover, .custom-tab-1 .nav-link:focus {
      border: 0; }
    .custom-tab-1 .nav-link.active {
      background: transparent;
      border: 0;
      border-bottom: 2px solid #5E1084;
      color: black; }
  
  .custom-tab-1 .tab-pane {
    padding: 25px; }
    .custom-tab-1 .tab-pane p {
      margin-bottom: 0; }
      .border{
        position: absolute;
        width: 1584px;
        height: 0px;
        left: 264px;
        top: 741px;
        border: 1px solid #ABABAB;
      transform: rotate(-0.04deg);

      }