<div class="row full-row adjust-row-margin">
    <img src="assets/images/background/image3.jpg" width="110%" height="665px">
    <div class="row image-form full-row adjust-row-margin">
        <div class="col-sm">

        </div>
        <div class="col-12 col-sm-4">
            <form class="login-form" [formGroup]="reset"> 
                <div style="margin-top: 160px;padding-top: 50px;" class="margin">
                   Reset your password
                </div>               
                <div class="row adjust-row-margin full-row">
                    <div class="row adjust-row-margin full-row">
                        <div class="col-1 col-sm-1"></div>
                        <div class="col-8 col-sm-8">
                            <label type="text">
                                New Password:
                            </label>
                        </div>
                        <div class="col-3 col-sm-3"></div>

                    </div>
                    <div class="row adjust-row-margin full-row">
                        <div class="col-1 col-sm-1"></div>
                        <div class="col-10 col-sm-8">
                            <input type="password" class="form-control" placeholder="Password" formControlName="password"
                            [ngClass]="{ 'is-invalid': reset && f.password.errors }">
                          <div *ngIf="reset && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                          </div>
                        </div>
                        <div class="col-1 col-sm-3"></div>

                    </div>
                </div>
                <div class="row adjust-row-margin full-row"style="padding-top:10px">
                    <div class="row adjust-row-margin full-row">
                        <div class="col-1 col-sm-1">  </div>
                        <div class="col-8 col-sm-8">
                            <label type="text">
                               Confirm Password:
                            </label>                                
                        </div>      
                        <div class="col-3 col-sm-3">                                
                            </div>                      
                        
                    </div>
                    <div class="row adjust-row-margin full-row">
                        <div class="col-1 col-sm-1"></div>
                        <div class="col-10 col-sm-8">
                            <input type="password" class="form-control" formControlName="confirmPassword" required="true" placeholder=" Confirm Password"
                            [ngClass]="{ 'is-invalid': reset && f.confirmPassword.errors }" />
                          <div *ngIf="reset && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                          </div>
                        </div>
                        <div class="col-1 col-sm-3"></div>

                    </div>
                </div>
                <div class="row adjust-row-margin full-row" style="padding-top: 10px;">                   
                    <div class="row adjust-row-margin full-row"style="padding-top: 10px;">
                        <div class="col-1 col-sm-1"></div>
                        <div class="col-10 col-sm-10"> 
                            <button type="submit" style="margin-top: 0em;" class="button">Reset Password</button>
                        </div>
                        <div class="col-1 col-sm-1"></div>
                    </div>
                </div>                
            </form>
        </div>
        <div class="col-sm">

        </div>
    </div>

</div>