<!-- <div class="h-100"> -->
    <div class="row full-row adjust-row-margin">
        <img src="assets/images/background/image3.jpg" width="110%" height="720px">
        <div class="row image-form full-row adjust-row-margin">
            <div class="col-sm">

            </div>
            <div class="col-12 col-sm-4">
                <form class="login-form" [formGroup]="recoverPassword"style="margin-left:0px;">
                    <div style="margin-top: 140px;" class="margin">
                        <div style="padding-top: 100px;margin-left:15px;">
                            Recover Password
                        </div>
                    </div>
                    <div class="row adjust-row-margin full-row">
                        <div class="margin"style="margin-left:45px;" >
                            <div>
                                Enter your email address and we'll send <br />you an email
                                with instruction to reset <br />your account password
                            </div>
                        </div>

                    </div>
                    <div class="row adjust-row-margin full-row">
                        <div class="row adjust-row-margin full-row">
                            <div class="col-1 col-sm-1"></div>
                            <div class="col-8 col-sm-8">
                                <label type="text">
                                    Email Address:
                                </label>
                            </div>
                            <div class="col-3 col-sm-3"></div>

                        </div>
                        <div class="row adjust-row-margin full-row">
                            <div class="col-1 col-sm-1"></div>
                            <div class="col-10 col-sm-8">
                                <input type="text" class="form-control" formControlName="emailAddress"
                                    pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                    [ngClass]="{ 'is-invalid': f.emailAddress.touched && f.emailAddress.errors }"
                                    style="margin-bottom: 20px;">
                                <div *ngIf="f.emailAddress.touched && f.emailAddress.errors" class="invalid-feedback">
                                    <div *ngIf="f.emailAddress.errors.required">Email Address is required</div>
                                    <div *ngIf="f.emailAddress.errors">Email Address must be a valid format</div>
                                </div>
                            </div>
                            <div class="col-1 col-sm-3"></div>

                        </div>
                    </div>
                    <div class="row adjust-row-margin full-row">
                        
                        <div class="row adjust-row-margin full-row">
                            <div class="col-1 col-sm-1"></div>
                            <div class="col-10 col-sm-8"style="margin-bottom:10px"> 
                                <button type="submit" style="margin-top: 0em;" class="button">Recover Password</button>
                            </div>
                            <div class="col-1 col-sm-3"></div>
                        </div>
                    </div>
                    <div class="row adjust-row-margin full-row">
                        <div class="col-1 col-sm-1"></div>
                        <div class="col-10- col-sm-10"style="text-align:center;">
                            Don't want to recover? Back to <a routerLink="/Login"
                                routerLinkActive="active"> Login 
                            </a>
                        </div>
                        <div class="col-1 col-sm-1"></div>
                    </div>
                </form>
            </div>
            <div class="col-sm">

            </div>
        </div>

    </div>
<!-- </div> -->
<!-- <div class="h-100" style="margin-bottom: 200px;">
    <img src="assets/images/background/image.jpg" width="100%" height="150%">

    <form class="form-login" [formGroup]="recoverPassword" (ngSubmit)="onSubmit()">
        <div style="margin-top: 100px;" class="margin">
            Recover Password
        </div>
        <br />
        <div class="margin">
            Enter your email address and we'll send you an <br /> email
            with instruction to reset your account password
        </div>        
        <div class="margin">
            <div style="margin-top: 20px; margin-bottom: 5px;">
                <label type="text">
                    Email Address:
                </label>
            </div>
            <input type="text" class="form-control" formControlName="emailAddress"
                pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                [ngClass]="{ 'is-invalid': f.emailAddress.touched && f.emailAddress.errors }"style="width: 340px;">
            <div *ngIf="f.emailAddress.touched && f.emailAddress.errors" class="invalid-feedback">
                <div *ngIf="f.emailAddress.errors.required">EmailAddress is required</div>
                <div *ngIf="f.emailAddress.errors">EmailAddress must be a valid email address</div>
            </div>
        </div>          
        <button type="submit" class="button">Recover Password</button>
        <div style="margin-top: 20px;" class="margin">
            
              <nav> Don't want to recover? <a routerLink="/login" routerLinkActive="active" > Back to login </a>
              </nav>
            
          </div>

    </form>
</div> -->